{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <div class="field">
            <label class="label" for="username">E-mail:</label>
            <div class="control has-icons-left">
                <input type="email" id="username" name="_username" value="{{ last_login }}" class="input" autocomplete="email" required autofocus/>
                <span class="icon is-small is-left">
                    <i class="lni lni-envelope"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label" for="password">Mot de passe:</label>
            <div class="control has-icons-left">
                <input type="password" id="password" class="input" name="_password" placeholder="Password" required/>
                <span class="icon is-small is-left">
                    <i class="lni lni-lock-alt"></i>
                </span>
            </div>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="control">
            <button type="submit" class="button is-link">Submit</button>
        </div>
    </form>

{% endblock %}
